# Decentralized, open-source (MIT), C/C++ package manager.
#
# see:
#   - https://pypi.org/project/conan/
conan >= 2.30.0

#  A build and deploy dependency. Used for semantics versions.
#
#  see:
#  - https://pypi.org/project/packaging/
packaging >= 26.2

#  Only used for developement
#
pytest >= 9.1.1

# Pylint is a static code analyser for Python 2 or 3
#
# see:
#   - https://pypi.org/project/pylint/
pylint >= 4.0.6

# pip is the package installer for Python.
#
# see:
#  - https://pypi.org/project/pip/
pip >= 26.1.2

#
# see:
#  - https://pypi.org/project/setuptools/
setuptools >= 83.0.0

# https://pypi.org/project/setuptools-scm/
setuptools_scm >= 10.2.0

# https://pypi.org/project/build/
build >= 1.5.0

# https://pypi.org/project/twine/
twine >= 6.2.0
